body{
    background-image: url(https://fondosmil.com/fondo/2257.jpg);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.form-reg{
    width: 30%;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(207, 206, 206, 0.911);
    padding: 30px;
    box-shadow: 3px 3px 3px #000000;
    border: 2px solid #045fe7 ; 
}
.input{
    width: 90%;
    height: 20px;
    margin-bottom: 10px;
}
.form-log{
    width: 30%;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(207, 206, 206, 0.911);
    padding: 30px;
    box-shadow: 3px 3px 3px #000000;
    border: 2px solid #045fe7 ; 
}